player-connection-mode=Listen
player-connection-guid=2925246327
player-connection-debug=0
player-connection-project-name=Dursties2DPlayground
player-connection-ip=192.168.0.218
player-connection-ip=172.30.240.1
player-connection-ip=172.28.80.1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
